version: '3'
services:
  frontend:
    build:
      context: . # where we want all the files and folder for this image to be pulled from
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"
    volumes:
      - /app/node_modules
      - .:/app
  tests:
    build:
      context: .
      dockerfile: Dockerfile.dev
    command: ["npm", "run", "test"]
    volumes:
      - /app/node_modules
      - .:/app
