name: Deploy Frontend
on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Build Docker image
        run: docker build -t 7688kuldeepsingh/react-test -f Dockerfile.dev .
      
      - name: Run tests inside Docker container
        run: docker run -e CI=True 7688kuldeepsingh/react-test npm run test

      - name: Generate deployment package
        run: |
          zip -r deploy.zip . -x "*.git*" -x "node_modules/*" -x "*/node_modules/*" -x ".github/*"

      - name: Deploy to EB
        uses: einaregilsson/beanstalk-deploy@v20
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY }}
          aws_secret_key: ${{ secrets.AWS_SECRET_KEY }}
          application_name: frontend
          environment_name: Frontend-env
          version_label: ${{ github.sha }}
          region: us-east-1
          existing_bucket_name: frontend-elasticbeanstalk-us-east-1
          deployment_package: deploy.zip